.DS_Store
*.pyc
*.egg-info
*.swp
tags
ury_pos/docs/current
node_modules/
urypos/node_modules/


# #####################################################################
ury_pos/www/urypos.html
ury_pos/public/urypos/*
# #####################################################################